<div class="col-md-4">
  <div class="thumbnail">
    <img src="https://images-eu.ssl-images-amazon.com/images/I/514GfnjbUCL._SX300_QL70_.jpg" alt="">
    <div class="caption">
      <h3>Best Rubik's Cube</h3>
      <p>
        This is the best product available in the market.
      </p>
      <p>
        <strong>Price: </strong> $24
      </p>
      <p>
        <button class="btn btn-primary btn-sm">Add To Cart</button>
        {{' '}}
        <button class="btn btn-default btn-sm">View Details</button>
      </p>
    </div>
  </div>
</div>